<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="kr.co.WhenWhereWho3"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="10" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
<!--         안드로이드 맵뷰를 사용하려면 라이브러리를 추가한다. -->
		<uses-library android:name="com.google.android.maps" />
        <activity
            android:label="@string/app_name"
            android:name=".WhenWhereWho3Activity" >
            <intent-filter >
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
<!--         지점 찾기 맵 -->
        <activity android:name=".BranchMapActivity" android:screenOrientation="portrait">
            <intent-filter >
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".MyMovieListActivity" android:label="MyMovieList" android:windowSoftInputMode="stateHidden"/>
        <activity android:name=".MyListActivity" android:label="MyList" />
        <activity android:name=".UpdateMovieActivity" android:label="UpdateMovie" android:windowSoftInputMode="stateHidden"/>
        <activity android:name=".MyListDeleteActivity" android:label="MyListDelete" />
        <activity android:name=".MyMovieListDetailActivity" android:label="MyMovieListDetail" />
        <activity android:name=".MyWishListActivity" android:label="MyWishList" />
        <activity android:name=".SearchMovieListActivity" android:label="SearchMovieList" android:windowSoftInputMode="stateHidden"/>
        <activity android:name=".SearchMovieGridActivity" android:label="SearchMovieGrid" android:windowSoftInputMode="stateHidden"/>
        <activity android:name=".SearchMovieDetailActivity" android:label="SearchMovieDetail" />
        <activity android:name=".RegistMovieActivity" android:label="RegistMovie" android:windowSoftInputMode="stateHidden"/>
        <activity android:name=".RecommendMovieActivity" android:label="RecommendMovie" />
        <activity android:name=".SetupActivity" android:label="SetUp" />        
        <activity android:name=".FindCinemaActivity" android:label="FindCinema" />        
        <activity android:name=".ShowMoviePhotoDialogActivity" android:theme="@android:style/Theme.Dialog"/>
        <activity android:name=".FaceBookActivity" android:label="Facebook" android:windowSoftInputMode="stateHidden"/>        
        
        <uses-library android:name="com.google.android.maps" />
    </application>

</manifest>